* {
  box-sizing: border-box;
}

body {
  @extend %font_default;
  color: $color-black;
  font-weight: $font-weight-regular;

  @include media($bp-md) {
  }
}

.container {
  max-width: 1352px;
  margin: 0 auto;

  @include media($bp-xl) {
    width: 100%;
    padding: 0 15px;
  }
}

// BUTTONS
%button_base {
  border-radius: $border-radius-xl;
  font-weight: $font-weight-bold;
  color: $color-white;
  background: $color-blue200;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  transition: 0.55s ease;
  transform: background;

  &:hover {
    background: #39c6f9;
  }
}

%logotyp {
  font-family: $font-secondary;
  font-weight: $font-weight-light;
  color: $color-blue200;
}

// CHECKBOX
.accept_checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  position: relative;
  margin-top: 10px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;

    &:checked + span {
      background-image: url(../images/Checkmark.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  span {
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid $color-gray500;
    cursor: pointer;
    border-radius: 4px;
    background: $color-white;
  }
}

.selection_description {
  font-size: 1em;
  color: $color-gray600;
  line-height: 17px;
  user-select: none;
}
