.statistics {
  padding: 100px 0 120px 0;
  font-size: 16px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .section_title {
    font-size: 2.25em;
    font-family: $font-secondary;

    @include media($bp-md) {
      padding: 0 36px;
      text-align: center;
      font-size: 1.875em;
      line-height: 35px;
    }
  }

  &_columns {
    display: flex;
    gap: 185px;

    @include media($bp-md) {
      flex-direction: column;
      gap: 25px;
    }
  }

  &_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px;
    gap: 22px;
    position: relative;

    @include media($bp-md) {
      margin: 0 auto;
    }

    &::before {
      content: "";
      width: 63px;
      height: 63px;
      border-radius: 50%;
      position: absolute;
    }
  }

  .column--left {
    &::before {
      background: $color-pink100;
    }
  }

  .column--center {
    width: 176px;
    gap: 25px;

    &::before {
      background: $color-blue200;
    }
  }

  .column--right {
    width: 163px;
    gap: 23px;

    &::before {
      background: $color-green;
    }
  }

  &_photo {
    position: relative;
    width: 63px;
    height: 63px;
    z-index: 1;
  }

  &_icon {
    position: absolute;
  }

  .icon--left {
    left: 50%;
    top: 5px;
  }

  .icon--center {
    left: 34%;
    top: 16px;
  }

  .icon--right {
    left: 43%;
    top: 8px;
  }

  &_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 130px;
    gap: 19px;
  }

  &_number {
    letter-spacing: 6px;
    font-size: 1.25em;
    font-family: $font-secondary;
    font-weight: $font-weight-extraBold;
  }

  &_description {
    color: $color-gray400;
    font-size: 1em;
    font-family: $font-secondary;
    line-height: 20px;
  }
}
